@import url("https://fonts.googleapis.com/css?family=Material+Icons|Work+Sans:400,700,900");


  .contenedorVH {
    position: absolute;
    width: 100%;
    height: 100%;
  } 

  .encabezado {
    position: relative;
    width: 100%;
    /* max-width: 600px; */
    padding: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }

  .categoria {
    opacity: 0.3;
    text-align: left;
  }

  .pregunta {
    font-size:25px;
  }

  .headerPreguntados {
    display: grid;
    background: #eeeeee;
    width: 100%;
    height: 90px;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 10px 41px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 41px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 41px 0px rgb(0 0 0 / 75%);
  }

  #ColorEquipo{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    position: absolute;
    top: 2%;
    right: 4%;

  }

.headerPreguntados h4{
    color: white;
    font-weight: bold;
}


  .imagen {
    object-fit: cover;
    height: 0px;
    width: 0px;
  
  }

  .btnViH {
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    color: white;
    transition: all 0.3s;
    width: 95%;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
    position: relative;
  }
  .colVh{
    height: 100px;
    text-align: center;
    display: table;
    
  }
  #btn1VH{
    background: red;
    
  }
  #btn2VH{
    background: blue;
  }
  #btn3VH{
    background: #D99D00;
  }
  #btn4VH{
    background: green;
  }

.HolaHola{
    opacity: .7;
    
}


  .btnViH:hover {
    transform: scale(1.05);
  }
  
  .numero{
    position: absolute;
    opacity:0.3;
    top: 10px;
    right: 10px;
  }
  
  .puntaje{
    position: absolute;
    color:white;
    padding: 18px;
  }

  .contenedorBotonesPregs{
    margin: 5% 2%;
    display: block;
    justify-content: center;
    align-items: center;
  }



  .RowPreguntasVH{
    padding-top: 2%;
    
  }

  .IconoCheckVH{
    position: absolute;
    top: 37%;
    right: 10%;
    padding: 5px;
    border: solid 3px white;
    border-radius: 80%;
    color: white;
    background: green;
  }

  .IconoPreguntaVH{
    position: absolute;
    top: 34%;
    left: 5%;
  }

  .IconoCheckVHIncorrecto{
    position: absolute;
    top: 37%;
    right: 10%;
    padding: 5px 8.5px;
    border: solid 3px white;
    border-radius: 80%;
    color: white;
    background: rgb(255, 0, 0);

  }









  
.triangle-up{
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid rgb(238, 238, 238);
}
.Cuadrado-up{
  border: 16px solid white;
  height: 0;
}
.Circulo-up{
  border: 18px solid white;
  border-radius: 100%;
}


.rombo {
  width: 30px;
  height: 30px;
  border: 3px solid white;
  background: white;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.RowPreguntasVH{
  display: grid;
  justify-content: center;
  align-items: center;
}






.contenedorCarrousel{
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
}