.ContenedorPreguntados{
background: white;
    width: 100%;
    height: 98vh;
}



.contenedorLista{
    border: none;
    padding: 15px 20px 15px 60px; 
    position: relative;
    background: #e6e4e4;
    margin-top: 5%;
    transition: .4s;
    width: 100%;
    text-align: left;
    font-weight: bold;
    border-radius: 15% 0% 0% 15% ;
}

.CuadritoMelo2{
    position: absolute;
    border-radius: 19%;
    border: none;
    height: 100%;
    width: 15%;
    left: 0%;
    top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}


.CuadritoMelo{
    position: absolute;
    height: 100%;
    
    width: 10px;
    top: 0%;
    right: 0%;
}








.ContenedorVideosInvisbles{
    position: absolute;
    top: 0;
    right: 0;
}







.opacado{
    opacity: 0.5;
}