<div class="row">
    <div class="col-4 ContenedorADAWhast ">
        <i class="fas fa-arrow-left text-white flechaIzqWhats" onclick="VolverInicioWhats()"></i>
        <img src="../img/15-años-logo-Negro.png" class="LogoCumpleañosWhats " alt="" width="90%">
    </div>
    <div class="col-8 ContenedorADAWhast ">
        <img src="../img/ADA/ADA-lateral-der.gif" class="AdaParadaIzquierda " alt="" height="100%" id="Ada">

        <div class="contenedorBocaADA">
                <div id="sprite-container" class="ContenedorBocca quit bocaAda">
                    <div id="sprite-image">
                    </div>
                </div>
        </div>
    </div>









</div>