
>
    
<div class="BoxYoutubeIntro " onclick="BtonYoutube()">
    <div class="object">
        <div class="outlineYoutube">
        </div>
        <div class="outlineYoutube" id="delayed">
        </div>
        <div class="buttonYoutube">
        </div>
        <!--  -->
        <div class="buttonYoutube" id="circleinYotubeIntro">
            <i class="fas fa-play "></i>

            </svg>
        </div>


    </div>
</div>






<div class=" BoxVoiceIntro" onclick="BtonWhats()">
    <div class="object">
        <div class="outlineMiroIntro">
        </div>
        <div class="outlineMiroIntro" id="delayed">
        </div>
        <div class="buttonChatIntro">
        </div>
        <!--  -->
        <div class="buttonChatIntro" id="circleinVoiceIntro">
            <i class="fas fa-comment-alt"></i>
        </div>


    </div>
</div>

