<!--Modal-->
<!-- <div id="modal-02" class="ContenedorModal">
    <div class="d-flex justify-content-end btonSalir close-modal-02 pt-3 pb-5 pe-5" id="btn-close-modal" onclick="disableAutoplay()">
        <button id="boton" class="BtonCerrar" >
            <i id="flecha" class="fa-solid fa-x"></i>
        </button>
    </div> -->

    <!-- Btn invisible  -->
<!-- 
    <div id="modal-02" class="close-modal-02 invisiblecont">
        <button id="botonFinal">
            btn Pro
        </button>
    </div> -->
    <!-- Btn invisible  -->

    <!-- <div class="ContenedorVideo pe-4">

        <video id="myVideo" width="100%" controls="controls">
            <source type="video/mp4">
        </video>

    </div>
</div> -->




<!--Modal-->
<!-- <div id="modal-03" class="ContenedorModal">
    <div class="d-flex justify-content-end btonSalir close-modal-03 pt-3 pb-5 " id="btn-close-modal" onclick="disableAutoplayWhats()">
        <button id="boton" class="BtonCerrar">
            <i id="flecha" class="fa-solid fa-x"></i>
        </button>
    </div>



    <div id="modal-03" class="close-modal-03 invisiblecont">
        <button id="botonFinalWhats" >
            btn Pro
        </button>
    </div>


    <div class="ContenedorVideo ">


        <video id="myVideo2" width="100%" controls="controls">
            <source type="video/mp4">
        </video>

    </div>
</div> -->