<div class="fondoWhats"></div>
<div class="ContenedorWhats ">

    <div class=" HeaderChatAda pe-4 ">
        <div class="row Stear">
            <div class="col-4 ps-4">
                <div class="MismaLinea pt-1 pb-1">
                    <a href="../index.html"><i class="fas fa-long-arrow-left iconoWhats  pe-2"></i></a>
                    <img src="../img/AvatarUsuario.png" width="45%" alt="" class="AvatarWhats">
                </div>
            </div>
            <div class="col-5 pt-2">
                <div class="row Stear">
                    <div class="col Stear">
                        <h5 class="Stear text-white"><b>ADA</b></h5>
                    </div>
                </div>
                <div class="row Stear">
                    <div class="col Stear">
                        <h6 class="Stear text-white">En Linea</h6>
                    </div>
                </div>
            </div>

            <div class="col-1"><i class="fas fa-video iconoWhats pt-3 pe-4 ps-4"></i></div>
            <div class="col-1"><i class="fas fa-phone iconoWhats pt-3 pe-4 ps-4"></i></div>
            <div class="col-1"><i class="fas fa-align-justify iconoWhats pt-3  ps-4"></i></div>
            
        </div>
    </div>



    <div class="ContenedorVideo pt-2">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <center>
                        <div class="texts scroll " id="divu">
                                    <p class="replay ">¿ Como puedo Ayudarte ? 😊 <span class="Pestaña"></span>    <span  class="displayHours"> </span> <i class="fa-solid fa-check iconocheck" ></i> </p>
                                    
                                    
                        </div>
                    </center>
                </div>
            </div>
            <div class="row">
                <center>
                    <div class="col-12">
                        <main>
                        </main>
                    </div>
                </center>
            </div>

            <div class="row">

                <div class="ContenedorBars quit boxBoton ">
                    <!-- <button onclick="closeVoice()" id="BarrasBoton"> -->
                        
                        <div id="bars" class="bars">
                            <div class="bar AzulColor" id="1"></div>
                            <div class="bar AzulColor" id="2"></div>
                            <div class="bar AzulColor" id="3"></div>
                            <div class="bar MoradoColor" id="4"></div>
                            <div class="bar MoradoColor" id="5"></div>
                            <div class="bar MoradoColor" id="6"></div>
                            <div class="bar MoradoColor" id="7"></div>
                            <div class="bar VerdeColor" id="8"></div>
                            <div class="bar VerdeColor" id="9"></div>
                            <div class="bar VerdeColor" id="10"></div>
                        </div>
                    
                    <!-- </button> -->

                </div>



                <!-- Bton Min -->
                <div class="BoxMicro boxBoton "  >
                    <div class="object">
                        <div class="outline">
                        </div>
                        <div class="outline" id="delayed" >
                        </div>
                        <div class="button" >
                        </div>
                        <!--  -->
                        <button class="button BloquearBoton" id="circlein" onclick="activeVoice()" >
                            <svg class="mic-icon" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000"
                                enable-background="new 0 0 1000 1000" xml:space="preserve" style="fill:#ffffff">
                                <g>
                                    <path
                                        d="M500,683.8c84.6,0,153.1-68.6,153.1-153.1V163.1C653.1,78.6,584.6,10,500,10c-84.6,0-153.1,68.6-153.1,153.1v367.5C346.9,615.2,415.4,683.8,500,683.8z M714.4,438.8v91.9C714.4,649,618.4,745,500,745c-118.4,0-214.4-96-214.4-214.4v-91.9h-61.3v91.9c0,141.9,107.2,258.7,245,273.9v124.2H346.9V990h306.3v-61.3H530.6V804.5c137.8-15.2,245-132.1,245-273.9v-91.9H714.4z" />
                                </g>
                            </svg>
                        </button>


                    </div>
                </div>

            </div>


        </div>


    </div>
    <!-- </div> -->


</div>