
<div class="HeaderPreguntados">
    <h4>¿Que deseas Aprender?</h4>
</div>

<div class="ColumnVideosContenedors">
    <div class="Videos">

        <button class="contenedorLista BloquearBoton" onclick="Preguntados('¿Qué es SISCAC?')" style="margin-top: 0px" >
            <div class="CuadritoMelo colorAzul"></div>
            <div class="CuadritoMelo2 colorAzul"><span class="text-white">  1</span> </div>
            ¿Que es la SISCAC?
        </button>

        
        <button class="contenedorLista BloquearBoton" onclick="Preguntados('¿Como se verifica la calidad del dato en la CAC?')"> 
            <div class="CuadritoMelo colorRosado " ></div>
            <div class="CuadritoMelo2 colorRosado"><span class="text-white">2</span> </div>
            ¿Como se verifica la calidad del dato en la CAC?
        </button>
        <button class="contenedorLista BloquearBoton" onclick="Preguntados('¿Analítica avanzada aplicada en la salud?')">
            <div class="CuadritoMelo colorVerde"></div>
            <div class="CuadritoMelo2 colorVerde"><span class="text-white">3</span> </div>
            
            ¿Analítica avanzada aplicada en la salud?
        </button>
       

        <button class="contenedorLista BloquearBoton" onclick="Preguntados('¿Qué es AudiCAC?')">
            <div class="CuadritoMelo colorAzul"></div>
            <div class="CuadritoMelo2 colorAzul"><span class="text-white">4</span> </div>
            
            ¿Qué es AudiCAC?
        </button>

        
        <button class="contenedorLista BloquearBoton" onclick="Preguntados('¿Que es el blockchain?')">
            <div class="CuadritoMelo colorRosado"></div>
            <div class="CuadritoMelo2 colorRosado"><span class="text-white">5</span> </div>
            
            ¿Blockchain en Salud?
        </button>
<!-- 
        <button class="contenedorLista BloquearBoton" onclick="Preguntados('¿Qué No es la Cuenta de Alto Costo?')" >
            <div class="CuadritoMelo colorVerde"></div>
            <div class="CuadritoMelo2 colorVerde"><span class="text-white">6</span> </div>
            
            ¿Qué No es la Cuenta de Alto Costo?
        </button> -->

        
        <button class="contenedorLista BloquearBoton" onclick="Preguntados('¿Cómo llega la información a la  CAC?')">
            <div class="CuadritoMelo colorVerde"></div>
            <div class="CuadritoMelo2 colorVerde"><span class="text-white">6</span> </div>
            ¿Cómo llega la información a la  CAC?
        </button>

        <button class="contenedorLista BloquearBoton" onclick="Preguntados('¿Que es HIGIA?')">
            <div class="CuadritoMelo colorAzul"></div>   
            <div class="CuadritoMelo2 colorAzul"><span class="text-white">7</span> </div>
            
            ¿Que es HIGIA?
        </button>
        <button class="contenedorLista BloquearBoton"  onclick="Preguntados('¿Que es ARCAC?')">
            <div class="CuadritoMelo colorRosado"></div>
            <div class="CuadritoMelo2 colorRosado"><span class="text-white">8</span> </div>
            
            ¿Que es ARCAC?
        </button>
        <button class="contenedorLista BloquearBoton" onclick="Preguntados('¿Qué es el modelo predictivo poblacional?')">
            <div class="CuadritoMelo colorAzul"></div>
            <div class="CuadritoMelo2 colorAzul"><span class="text-white">9</span> </div>
            ¿Qué es el modelo predictivo poblacional?
        </button>


        <button class="contenedorLista BloquearBoton"  onclick="Preguntados('¿Qué herramientas técnicas provee la CAC?')">
            <div class="CuadritoMelo colorRosado"></div>
            <div class="CuadritoMelo2 colorRosado"><span class="text-white">10</span> </div>
            ¿Qué herramientas técnicas provee la CAC?
        </button>

        <button class="contenedorLista BloquearBoton" onclick="Preguntados('¿Como acceder a los libros de situación de EAC?')">
            <div class="CuadritoMelo colorVerde"></div>
            <div class="CuadritoMelo2 colorVerde"><span class="text-white">11</span> </div>
            
            ¿Como acceder a los libros de situación de EAC?
        </button>
        <button class="contenedorLista BloquearBoton" onclick="Preguntados('¿Cuáles son los consensos que genera la CAC?')">
            <div class="CuadritoMelo colorAzul"></div>
            <div class="CuadritoMelo2 colorAzul"><span class="text-white">12</span> </div>
            ¿Cuáles son los consensos que genera la CAC?
        </button>

        
        <button class="contenedorLista BloquearBoton" onclick="Preguntados('¿Cuáles son los libros de investigación que provee la CAC?')">
            <div class="CuadritoMelo colorRosado"></div>
            <div class="CuadritoMelo2 colorRosado"><span class="text-white">13</span> </div>
            
            ¿Cuáles son los libros de investigación que provee la CAC?
        </button>

        <button class="contenedorLista BloquearBoton" onclick="Preguntados('¿Que es la CAC?')">
            <div class="CuadritoMelo colorVerde"></div>
            <div class="CuadritoMelo2 colorVerde"><span class="text-white">14</span> </div>
            
            ¿Que es la CAC?
        </button>
        


<!-- 
        <button class="contenedorLista BloquearBoton" onclick="Preguntados('¿Cuales son los ?')">
            <div class="CuadritoMelo colorVerde"></div>
           
        </button> -->
        <!-- <button class="contenedorLista BloquearBoton" onclick="Preguntados('')">
            <div class="CuadritoMelo colorAzul"></div>
            
        </button>

        
        <button class="contenedorLista BloquearBoton" onclick="Preguntados('')">
            <div class="CuadritoMelo colorRosado"></div>
            
        </button>

        <button class="contenedorLista BloquearBoton">
            <div class="CuadritoMelo colorVerde"></div>
            
        </button> -->

        
        




    </div>

</div>