

<!-- <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>  -->
<!DOCTYPE html>
<html>
 <script src="js/responsivevoice.js"></script>
<head>
  <meta charset="utf-8">

</head>
<link rel="stylesheet" href="css/animacionAda.css">
<style>
  @import url("https://fonts.googleapis.com/css?family=Material+Icons|Work+Sans:400,700,900");
    .Salir{
        z-index: 99;
    }
    .quit{
      display: none;
    }
</style>
<body>

  <div id="chart">Eligue el equipo</div>
  <div id="question" >
    <h1> </h1>
  </div>

  <div id="ColorEquipo">Hola</div>

  
  
  
</body>







</html>

