<div class="ContenedorVideosInvisbles"> 

<a href="#modal-03" class="circlein  invisible"
    onclick="enableAutoplayWhats(myVideo2,'../img/videos/blockchain5.mp4')" id="btn100"></a>

    <a href="#modal-03" class="circlein  invisible"
    onclick="enableAutoplayWhats(myVideo2,'../img/videos/SISCAC SHORT.mp4')" id="btn101"></a>


    <a href="#modal-03" class="circlein  invisible"
    onclick="enableAutoplayWhats(myVideo2,'../img/videos/seguridad de la informacion.mp4')" id="btn102"></a>

    <a href="#modal-03" class="circlein  invisible"
    onclick="enableAutoplayWhats(myVideo2,'../img/videos/2_HIGIA.mp4')" id="btn103"></a>

    <a href="#modal-03" class="circlein  invisible"
    onclick="enableAutoplayWhats(myVideo2,'../img/videos/1_ARCAC.mp4')" id="btn104"></a>

    <a href="#modal-03" class="circlein  invisible"
    onclick="enableAutoplayWhats(myVideo2,'../img/videos/3_MODELO PREDICRIVO.mp4')" id="btn105"></a>

    <a href="#modal-03" class="circlein  invisible"
    onclick="enableAutoplayWhats(myVideo2,'../img/videos/5_herramientas técnicas.mp4')" id="btn106"></a>

    <a href="#modal-03" class="circlein  invisible"
    onclick="enableAutoplayWhats(myVideo2,'../img/videos/4_CONSENSOS.mp4')" id="btn107"></a>

    <a href="#modal-03" class="circlein  invisible"
    onclick="enableAutoplayWhats(myVideo2,'../img/videos/7_Libros de situación de las EAC.mp4')" id="btn108"></a>

    <a href="#modal-03" class="circlein  invisible"
    onclick="enableAutoplayWhats(myVideo2,'../img/videos/6_Libro de investigación.mp4')" id="btn109"></a>

    <a href="#modal-03" class="circlein  invisible"
    onclick="enableAutoplayWhats(myVideo2,'../img/videos/reportecac.mp4')" id="btn110"></a>

    <a href="#modal-03" class="circlein  invisible"
    onclick="enableAutoplayWhats(myVideo2,'../img/videos/auditoría.mp4')" id="btn111"></a>
    
    <a href="#modal-03" class="circlein  invisible"
    onclick="enableAutoplayWhats(myVideo2,'../img/videos/analitica.mp4')" id="btn112"></a>

    
    
</div>