<!-- <div class="ColumnVideosContenedors"> -->

<h3 class="text-white pt-1 pb-3 "><b id="Saludar"></b></h3>

<div class="contenedorVideosSpoty">





    <!-- OtrosVideos -->
    <div class="row pb-3">
        <div id="myWorkContent">


            <div class="contenedorVideoCart">

                <a href="#modal-02" class="demo02 " onclick="enableAutoplay(myVideo,'../img/videos/SISCAC SHORT.mp4')"
                    id="btn1">
                    <article class="cardSpoty">
                        <div class="cover">
                            <img src="../img/ImgVideos/SISCAC.jpg" class="imgSpoty" alt="">
                            <div class="cover__text">
                                <div class="PrimerCuadro bg-primary"></div>
                                <div class="SegundoCuadro bg-primary"></div>
                                <div class="TituloVideoCAC">
                                    <h6> <b>SISCAC</b></h6>

                                </div>

                            </div>
                            <div class="pb-wrapper">
                                <button class="play-buttom">&#x2bc8</button>
                            </div>
                            <img src="../img/simbolo_cac_color.png" alt="" class="watermark">
                        </div>
                        <div class="descripcion"></div>

                        <p class="pl-about">Plataforma de interconexión </p>
                        <p class="pl-about">del sistema de salud.</p>


                    </article>
                </a>
            </div>





            <div class="contenedorVideoCart">

                <a href="#modal-02" class="demo02 " onclick="enableAutoplay(myVideo,'../img/videos/VIDEO SGI.mp4')"
                    id="btn1">
                    <article class="cardSpoty">
                        <div class="cover">
                            <img src="../img/ImgVideos/VHC.jpg" class="imgSpoty" alt="">
                            <div class="cover__text">
                                <div class="PrimerCuadro bg-danger"></div>
                                <div class="SegundoCuadro bg-danger"></div>
                                <div class="TituloVideoCAC" style="top: 109px;">
                                    <h6 style="padding: 0px; margin: 0px;"> <b>Sistema de gestion</b></h6>
                                    <h6 style="padding: 0px; margin: 0px;"> <b>de calidad</b></h6>
                                </div>

                            </div>
                            <div class="pb-wrapper">
                                <button class="play-buttom">&#x2bc8</button>
                            </div>
                            <img src="../img/simbolo_cac_color.png" alt="" class="watermark">
                        </div>
                        <div class="descripcion"></div>

                        <p class="pl-about">Sistema de gestión de calidad</p>
                        <p class="pl-about">Para la mejora continua</p>


                    </article>
                </a>
            </div>
            
            <div class="contenedorVideoCart">
                <a href="#modal-02" class="demo02 " onclick="enableAutoplay(myVideo,'../img/videos/reportecac.mp4')"
                    id="btn1">
                    <article class="cardSpoty">
                        <div class="cover">
                            <img src="../img/ImgVideos/DAtosCAC.jpg" class="imgSpoty" alt="">
                            <div class="cover__text">
                                <div class="PrimerCuadro bg-info"></div>
                                <div class="SegundoCuadro bg-info"></div>
                                <div class="TituloVideoCAC">
                                    <h6> <b>Datos y la CAC</b></h6>

                                </div>

                            </div>
                            <div class="pb-wrapper">
                                <button class="play-buttom">&#x2bc8</button>
                            </div>
                            <img src="../img/simbolo_cac_color.png" alt="" class="watermark">
                        </div>
                        <div class="descripcion"></div>

                        <p class="pl-about">Ciclo de vida del dato en </p>
                        <p class="pl-about">la CAC</p>


                    </article>
                </a>
            </div>

            <div class="contenedorVideoCart">
                <a href="#modal-02" class="demo02 " onclick="enableAutoplay(myVideo,'../img/videos/2_HIGIA.mp4')"
                    id="btn1">
                    <article class="cardSpoty">
                        <div class="cover">
                            <img src="../img/ImgVideos/Higia.jpg" class="imgSpoty" alt="">
                            <div class="cover__text">
                                <div class="PrimerCuadro bg-primary"></div>
                                <div class="SegundoCuadro bg-primary"></div>
                                <div class="TituloVideoCAC">
                                    <h6> <b>HIGIA</b></h6>

                                </div>

                            </div>
                            <div class="pb-wrapper">
                                <button class="play-buttom">&#x2bc8</button>
                            </div>
                            <img src="../img/simbolo_cac_color.png" alt="" class="watermark">
                        </div>
                        <div class="descripcion"></div>

                        <p class="pl-about">Herramienta de la CAC para </p>
                        <p class="pl-about">todos</p>


                    </article>
                </a>
            </div>


            <div class="contenedorVideoCart">
                <a href="#modal-02" class="demo02 " onclick="enableAutoplay(myVideo,'../img/videos/auditoría.mp4')"
                    id="btn1">
                    <article class="cardSpoty">
                        <div class="cover">
                            <img src="../img/ImgVideos/Auditoria2.jpg" class="imgSpoty" alt="">
                            <div class="cover__text">
                                <div class="PrimerCuadro bg-danger"></div>
                                <div class="SegundoCuadro bg-danger"></div>
                                <div class="TituloVideoCAC">
                                    <h6> <b>Auditoria</b></h6>

                                </div>

                            </div>
                            <div class="pb-wrapper">
                                <button class="play-buttom">&#x2bc8</button>
                            </div>
                            <img src="../img/simbolo_cac_color.png" alt="" class="watermark">
                        </div>
                        <div class="descripcion"></div>

                        <p class="pl-about">Como se audita la información</p>
                        <p class="pl-about">en la CAC</p>


                    </article>
                </a>
            </div>


            <div class="contenedorVideoCart">
                <a href="#modal-02" class="demo02 " onclick="enableAutoplay(myVideo,'../img/videos/blockchain5.mp4')"
                    id="btn1">
                    <article class="cardSpoty">
                        <div class="cover">
                            <img src="../img/ImgVideos/BlockChain.jpg" class="imgSpoty" alt="">
                            <div class="cover__text">
                                <div class="PrimerCuadro bg-primary"></div>
                                <div class="SegundoCuadro bg-primary"></div>
                                <div class="TituloVideoCAC">
                                    <h6> <b>Blockchain en salud</b></h6>

                                </div>

                            </div>
                            <div class="pb-wrapper">
                                <button class="play-buttom">&#x2bc8</button>
                            </div>
                            <img src="../img/simbolo_cac_color.png" alt="" class="watermark">
                        </div>
                        <div class="descripcion"></div>

                        <p class="pl-about">Es posible montar blockchain</p>
                        <p class="pl-about">en la salud de colombia?</p>


                    </article>
                </a>
            </div>


            <div class="contenedorVideoCart">

                <a href="#modal-02" class="demo02 "
                    onclick="enableAutoplay(myVideo,'../img/videos/seguridad de la informacion1.mp4')" id="btn1">
                    <article class="cardSpoty">
                        <div class="cover">
                            <img src="../img/simbolo_cac_color2.png" class="imgSpoty" alt="">
                            <div class="cover__text">
                                <div class="PrimerCuadro colorRosado"></div>
                                <div class="SegundoCuadro colorRosado"></div>
                                <div class="TituloVideoCAC">
                                    <h6> <b>LA CAC</b></h6>

                                </div>

                            </div>
                            <div class="pb-wrapper">
                                <button class="play-buttom">&#x2bc8</button>
                            </div>
                            <img src="../img/simbolo_cac_color.png" alt="" class="watermark">
                        </div>
                        <div class="descripcion"></div>

                        <p class="pl-about">Como asegura la información</p>
                        <p class="pl-about">la CAC</p>


                    </article>
                </a>
            </div>






           





            <!-- <div class="contenedorVideoCart">
                <a href="#modal-02" class="demo02 " onclick="enableAutoplay(myVideo,'../img/videos/reportecac (1).mp4')"
                    id="btn1">
                    <article class="cardSpoty">
                        <div class="cover">
                            <img src="../img/ImgVideos/Analitica2.jpg" class="imgSpoty" alt="">
                            <div class="cover__text">
                                <div class="PrimerCuadro bg-info"></div>
                                <div class="SegundoCuadro bg-info"></div>
                                <div class="TituloVideoCAC">
                                    <h6> <b>Gestión de riesgo</b></h6>

                                </div>

                            </div>
                            <div class="pb-wrapper">
                                <button class="play-buttom">&#x2bc8</button>
                            </div>
                            <img src="../img/simbolo_cac_color.png" alt="" class="watermark">
                        </div>
                        <div class="descripcion"></div>

                        <p class="pl-about">Gestión de riesgo Tableros</p>
                        <p class="pl-about">de secretaria</p>


                    </article>
                </a>
            </div> -->






            <div class="contenedorVideoCart">
                <a href="#modal-02" class="demo02 " onclick="enableAutoplay(myVideo,'../img/videos/4_CONSENSOS.mp4')"
                    id="btn1">
                    <article class="cardSpoty">
                        <div class="cover">
                            <img src="../img/ImgVideos/Consesos.jpg" class="imgSpoty" alt="">
                            <div class="cover__text">
                                <div class="PrimerCuadro bg-primary"></div>
                                <div class="SegundoCuadro bg-primary"></div>
                                <div class="TituloVideoCAC">
                                    <h6> <b>Consensos</b></h6>
                                </div>
                            </div>
                            <div class="pb-wrapper">
                                <button class="play-buttom">&#x2bc8</button>
                            </div>
                            <img src="../img/simbolo_cac_color.png" alt="" class="watermark">
                        </div>
                        <div class="descripcion"></div>

                        <p class="pl-about">Donde encuentro los</p>
                        <p class="pl-about">Consensos de la CAC</p>


                    </article>
                </a>
            </div>

            <div class="contenedorVideoCart">
                <a href="#modal-02" class="demo02 "
                    onclick="enableAutoplay(myVideo,'../img/videos/6_Libro de investigación.mp4')" id="btn1">
                    <article class="cardSpoty">
                        <div class="cover">
                            <img src="../img/ImgVideos/LibrosInvestigacion.png" class="imgSpoty" alt="">
                            <div class="cover__text">
                                <div class="PrimerCuadro bg-success"></div>
                                <div class="SegundoCuadro bg-success"></div>
                                <div class="TituloVideoCAC">
                                    <h6> <b>Libro investigación</b></h6>

                                </div>

                            </div>
                            <div class="pb-wrapper">
                                <button class="play-buttom">&#x2bc8</button>
                            </div>
                            <img src="../img/simbolo_cac_color.png" alt="" class="watermark">
                        </div>
                        <div class="descripcion"></div>

                        <p class="pl-about">Articulos cientificos,ponencias </p>
                        <p class="pl-about">para la mejora continua</p>


                    </article>
                </a>
            </div>




        </div><!-- end myWorkContent -->
    </div>









































    <div class="row">
        <h5 class="text-white ">Como acceder a</h5>
        <div id="myWorkContent">


            <div class="contenedorVideoCart">
                <a href="#modal-02" class="demo02 " onclick="enableAutoplay(myVideo,'../img/videos/1_ARCAC.mp4')"
                    id="btn1">
                    <article class="cardSpoty">
                        <div class="cover">
                            <img src="../img/ImgVideos/ARCAC.png" class="imgSpoty" alt="">
                            <div class="cover__text">
                                <div class="PrimerCuadro colorRosado"></div>
                                <div class="SegundoCuadro colorRosado"></div>
                                <div class="TituloVideoCAC">
                                    <h6> <b>ARCAC</b></h6>

                                </div>

                            </div>
                            <div class="pb-wrapper">
                                <button class="play-buttom">&#x2bc8</button>
                            </div>
                            <img src="../img/simbolo_cac_color.png" alt="" class="watermark">
                        </div>
                        <div class="descripcion"></div>

                        <p class="pl-about">Modelo predictivo de artritis</p>
                        <p class="pl-about">reumatoide</p>


                    </article>
                </a>
            </div>





            <div class="contenedorVideoCart">
                <a href="#modal-02" class="demo02 "
                    onclick="enableAutoplay(myVideo,'../img/videos/3_MODELO PREDICRIVO.mp4')" id="btn1">
                    <article class="cardSpoty">
                        <div class="cover">
                            <img src="../img/ImgVideos/ModeloPre.png" class="imgSpoty" alt="">
                            <div class="cover__text">
                                <div class="PrimerCuadro bg-warning"></div>
                                <div class="SegundoCuadro bg-warning"></div>
                                <div class="TituloVideoCAC">
                                    <h6> <b>Modelo ERC</b></h6>
                                </div>
                            </div>
                            <div class="pb-wrapper">
                                <button class="play-buttom">&#x2bc8</button>
                            </div>
                            <img src="../img/simbolo_cac_color.png" alt="" class="watermark">
                        </div>
                        <div class="descripcion"></div>

                        <p class="pl-about">Modelo predictivo poblacional </p>
                        <p class="pl-about">de enfermedad renal cronica</p>


                    </article>
                </a>
            </div>





            <div class="contenedorVideoCart">
                <a href="#modal-02" class="demo02 "
                    onclick="enableAutoplay(myVideo,'../img/videos/5_herramientas técnicas.mp4')" id="btn1">
                    <article class="cardSpoty">
                        <div class="cover">
                            <img src="../img/ImgVideos/HerramientasTI.png" class="imgSpoty" alt="">
                            <div class="cover__text">
                                <div class="PrimerCuadro bg-AzulMorado"></div>
                                <div class="SegundoCuadro bg-AzulMorado"></div>
                                <div class="TituloVideoCAC" style="top: 109px;">
                                    <h6 style="padding: 0px; margin: 0px;"> <b>Herramientas </b></h6>
                                    <h6 style="padding: 0px; margin: 0px;"> <b>Tecnicas</b></h6>
                                </div>
                            </div>
                            <div class="pb-wrapper">
                                <button class="play-buttom">&#x2bc8</button>
                            </div>
                            <img src="../img/simbolo_cac_color.png" alt="" class="watermark">
                        </div>
                        <div class="descripcion"></div>

                        <p class="pl-about">Cuáles son las herramientas</p>
                        <p class="pl-about">tecnicas de la CAC </p>


                    </article>
                </a>
            </div>





            <div class="contenedorVideoCart">
                <a href="#modal-02" class="demo02 " onclick="enableAutoplay(myVideo,'../img/videos/analitica.mp4')"
                    id="btn1">
                    <article class="cardSpoty">
                        <div class="cover">
                            <img src="../img/ImgVideos/Analitica.png" class="imgSpoty" alt="">
                            <div class="cover__text">
                                <div class="PrimerCuadro bg-info"></div>
                                <div class="SegundoCuadro bg-info"></div>
                                <div class="TituloVideoCAC">
                                    <h6> <b>Analítica Predictiva</b></h6>

                                </div>

                            </div>
                            <div class="pb-wrapper">
                                <button class="play-buttom">&#x2bc8</button>
                            </div>
                            <img src="../img/simbolo_cac_color.png" alt="" class="watermark">
                        </div>
                        <div class="descripcion"></div>

                        <p class="pl-about">Gestión de conocimiento</p>
                        <p class="pl-about">para el futuro</p>


                    </article>
                </a>
            </div>



            


            <div class="contenedorVideoCart">
                <a href="#modal-02" class="demo02 "
                    onclick="enableAutoplay(myVideo,'../img/videos/7_Libros de situación de las EAC.mp4')" id="btn1">
                    <article class="cardSpoty">
                        <div class="cover">
                            <img src="../img/ImgVideos/Libros.png" class="imgSpoty" alt="">
                            <div class="cover__text">
                                <div class="PrimerCuadro bg-primary"></div>
                                <div class="SegundoCuadro bg-primary"></div>
                                <div class="TituloVideoCAC">
                                    <h6> <b>Libros de EAC</b></h6>

                                </div>

                            </div>
                            <div class="pb-wrapper">
                                <button class="play-buttom">&#x2bc8</button>
                            </div>
                            <img src="../img/simbolo_cac_color.png" alt="" class="watermark">
                        </div>
                        <div class="descripcion"></div>
                        <p class="pl-about">Libros de situación de las </p>
                        <p class="pl-about">enfermedades de alto costo</p>


                    </article>
                </a>
            </div>








        </div><!-- end myWorkContent -->
    </div>
</div>


<!-- </div> -->